<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="!loading" class="row row-cols-1 row-cols-md-4 g-4 mt-2" >
  <div *ngFor="let imagen of listImagenes" class="col">
    <div class="card">
      <img [src]="imagen.previewURL" class="card-img-top" alt="..." style="height: 200px;">
      <div class="card-body text-center">
        <a [href]="imagen.largeImageURL" target="_blank" class="btn btn-primary ">VER IMAGEN</a>
      </div>
      <div class="card-footer text-center text-muted">
        <div class="row">
          <div class="col">
            <p class="likesViews">Likes</p>
            <span class="badge bg-secondary">{{ imagen.likes }}</span>
          </div>
          <div class="col">
            <p class="likesViews">Views</p>
            <span class="badge bg-secondary">{{ imagen.views }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="listImagenes.length > 0" class="d-flex justify-content-center mt-2">
  <ul class="pagination pagination-lg">
    <li class="page-item" *ngIf="paginaAnteriorClass()">
      <a class="page-link" (click)="paginaAnterior()">&laquo;Anterior<font style="vertical-align: inherit;"></font></a>
    <li class="page-item" *ngIf="paginaPosteriorClass()">
      <a class="page-link" (click)="paginaPosterior()">Siguiente<font style="vertical-align: inherit;">&raquo; </font></a>
    </li>
  </ul>
</div>
